.modalCustom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #fff;
    border-radius: 5px;
    padding: 30px;
}

.modalTitle {
    text-align: center;
    margin: 0 0 30px 0;
}

.modalField {
    width: 100%;
    margin: 0 0 15px 0!important;
}
